Virtual Environment

Ignores your local venv folder

venv/
*.venv/

Python cache files


pycache/
*.pyc
*.pyo
*.pyd

Log files

logs/
*.log

Database files

*.db
*.sqlite3

Environment variables

.env
